.bg-container{
    background-color:#ffffff;
    background-size:cover;
    min-height:100vh;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.card-container{
    border-radius:14px;
    background-color:#150b3e;
    padding:20px;
    width:50%;
    padding:30px;

}
.logo{
    background-color:#c7d2fe;
    border-radius:30px;
    font-family:"Roboto";
    font-size:22px;
    color: #7c3aed;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60px;  
    height: 60px; 
    padding: 10px; 
    margin: 0;
}
.heading{
    color:#c7d2fe;
    font-family:"Roboto";
    font-size:22px;
    font-weight:500;
    margin-left:10px;

}
.logo-heading-container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.balance-avl{
    color: #c4c4c4;
    font-family:"Roboto";
    font-size:26px;
}
.balance{
    color:#382f5a;
    font-family:"Roboto";
    font-size:22px;
}
.rupees{
    color:#382f5a;
    font-family:"Roboto";
    font-size:18px;
}
.withdraw{
    color: #c4c4c4;
    font-family:"Roboto";
    font-size:26px;
}
.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.withdraw-btns-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.balance-rupees-container{
    display:flex;
    justify-content:space-between;
}